In [ ]:
'''so in this we are gonna find the square root of a given number'''
r=float(input("entre the value u need to get it as squate root:"))
s=r**(1/2)
print(s)

entre the value u need to get it as squate root:25
5.0

so using the function we are find the square roo

In [ ]:
from math import sqrt
a = int(input("Enter the number which u need to find the sqrt:"))
b = sqrt(a)
print(b)

Enter the number which u need to find the sqrt:16
4.0

In [ ]:
#to find the are of a triangle
b = float(input('entre the base in cm:'))
h = float(input('entre the height in cm:'))
area = (1/2)*b*h
print("The area of a traingle for the given length and height is:",area)

entre the base in cm:2
entre the height in cm:4
The area of a traingle for the given length and height is:%f 4.0

In this we are gonna swap two variables

In [ ]:
r=int(input('entre the value of 1:\t'))
s=int(input("entre the value of 2:\t"))
temp=r
r=s
s=temp
print(r)
print(s)

entre the value of 1:	12
entre the value of 2:	23
23
12

2nd way is x,y=y,x

conversion of kilometre t miles

In [ ]:
kilo=int(input('entre the kilometre which u need to convert:\t'))
miles=0.621371*kilo
print(miles)

entre the kilometre which u need to convert:	133
82.642343

checking wheather a number is positive or negative

In [ ]:
r=int(input('entre the first number:\t'))
if r>=0:
  print('positive good to go!!')
else:
  print('negative bad to goo!!')

entre the first number:	-99
negative bad to goo!!

checking whether a number is even or odd

In [ ]:
r=int(input('entre the number:\t'))
if r%2==0:
  print('the number is even')
else:
  print('odd')

entre the number:	33
odd

to check wheather the given year is leap year or not

In [ ]:
year=float(input('entre the year which u need to check:\t'))
if year%4==0:
  print("congrats leap year!!")
else:
  print('it is not!!')

entre the year which u need to check:	2000
congrats leap year!!

program to find the largest number among the given three numbers

In [ ]:
r=float(input('entre the 1st number:\t'))
s=float(input('entre the 2nd number:\t'))
q=float(input('entre the 3rd number:\t'))

if(r>s and r>q):
  print("the greatest number is:\t",r)
elif(s>r and s>q):
   print("the greatest number is:\t",s)
else:
   print("the greatest number is:\t",q)

entre the 1st number:	13
entre the 2nd number:	10
entre the 3rd number:	23
the greatest number is:	 23.0

******to check whether a number is prime or not********

In [ ]:
r=float(input('entre the value to check :\t'))
for r in range(11):

  if r%2==0 and r!=2:
    print('not prime')
    print(r)
  else:
    print("prime!!")
    print(r)

entre the value to check :	15
not prime
0
prime!!
1
prime!!
2
prime!!
3
not prime
4
prime!!
5
not prime
6
prime!!
7
not prime
8
prime!!
9
not prime
10

If we wnat to find the prime number under the given inter value

In [ ]:
upper=int(input('entre the upper limit:\t'))
lower=int(input('entre the lower limit:\t'))
for i in range(lower,upper+1):
  print('we are gonna print the prime number in the given interva;')
  if

In [ ]:
n=int(input("Enter the number of rows u wanna print:="))
for i in range(1,n+1):
  for j in range(1,n+1):
    if j<=(n):
      print("#",end=" ")
    else:
      continue
  print()

Enter the number of rows u wanna print:=5
# # # # #
# # # # #
# # # # #
# # # # #
# # # # #

In [ ]:
n=int(input("Enter the number of rows u wanna print:-"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print("#",end="")
  print("")

Enter the number of rows u wanna print:-4
#
##
###
####

In [ ]:
n=int(input("Enter the number of rows u wanna print:-"))
for i in range(1,n+1):
  for j in range(4,0,-1):
    if j>=i:
      print("#",end="")
    else:
      continue

  print("")

Enter the number of rows u wanna print:-4
####
###
##
#

In [ ]:
n=int(input("Enter the number of rows u wanna print:"))
for i in range(1,n+1):
  for j in range(1,n+1):
    if j>=i:
      print("#",end="")
    else:
      print(" ",end="")

  print(" ")

Enter the number of rows u wanna print:5
#####
 ####
  ###
   ##
    #

In [ ]:
n=int(input("Enter the number of rows u wanna print:--"))
for i in range(1,n+1):
  for j in range(1,n+1):
    if j<=i:
      print("#",end="")
    else:
      print(" ",end="")

  print(" ")

Enter the number of rows u wanna print:--5
#
##
###
####
#####

In [ ]:
n=int(input("Enter the number of rows u wanna print:--"))
for i in range(1,n+1):
  for j in range(1,n+1):
    if j<=n-i:
      print(" ",end=" ")
    else:
      print("#",end=" ")

  print(" ")

Enter the number of rows u wanna print:--5
        #
      # #
    # # #
  # # # #
# # # # #

In [ ]:
n=int(input("Enter the number of rows u wanna print:--"))
for i in range(1,n+1):
  for j in range(1,n+1):
    if j<=n-i:
      print("#",end=" ")
    else:
      print(" ",end=" ")

  print(" ")

Enter the number of rows u wanna print:--5
# # # #
# # #
# #
#

In [ ]:
n=int(input("Enter the number of rows u wanna print:--"))
s=n
for i in range(1,n+1):
  for j in range(1,n+1):
    if j<=i-1:
      print(" ",end=" ")

    else:
      print("#",end=" ")



  print(" ")

Enter the number of rows u wanna print:--5
# # # # #
  # # # #
    # # #
      # #
        #

In [1]:

for i in range(1,11):
  print(i)
print('done')

1
2
3
4
5
6
7
8
9
10
done

In [3]:
sum=0
for i in range (1,11):
  print(i)
  sum=sum+i

print('the final sum of this 10 natural number is:',sum)

print('the final sum of this 10 natural number is:',sum)

1
2
3
4
5
6
7
8
9
10
the final sum of this 10 natural number is: 55
the final sum of this 10 natural number is: 55

In [4]:
#average of the first 10 natural numbers
sum=0
for i in range (0,11):
  print(i)
  sum=sum+i

average=sum/10
print(average)

0
1
2
3
4
5
6
7
8
9
10
5.5

In [5]:
n=int(input('Entre the number u need to find the cube root'))
for n in range (1,n+1):
  print(n)
  cube=n*n*n
  print('the cube of the number:',n,'is:',cube)

print(cube)

Entre the number u need to find the cube root33
1
the cube of the number: 1 is: 1
2
the cube of the number: 2 is: 8
3
the cube of the number: 3 is: 27
4
the cube of the number: 4 is: 64
5
the cube of the number: 5 is: 125
6
the cube of the number: 6 is: 216
7
the cube of the number: 7 is: 343
8
the cube of the number: 8 is: 512
9
the cube of the number: 9 is: 729
10
the cube of the number: 10 is: 1000
11
the cube of the number: 11 is: 1331
12
the cube of the number: 12 is: 1728
13
the cube of the number: 13 is: 2197
14
the cube of the number: 14 is: 2744
15
the cube of the number: 15 is: 3375
16
the cube of the number: 16 is: 4096
17
the cube of the number: 17 is: 4913
18
the cube of the number: 18 is: 5832
19
the cube of the number: 19 is: 6859
20
the cube of the number: 20 is: 8000
21
the cube of the number: 21 is: 9261
22
the cube of the number: 22 is: 10648
23
the cube of the number: 23 is: 12167
24
the cube of the number: 24 is: 13824
25
the cube of the number: 25 is: 15625
26
the cube of the number: 26 is: 17576
27
the cube of the number: 27 is: 19683
28
the cube of the number: 28 is: 21952
29
the cube of the number: 29 is: 24389
30
the cube of the number: 30 is: 27000
31
the cube of the number: 31 is: 29791
32
the cube of the number: 32 is: 32768
33
the cube of the number: 33 is: 35937
35937

In [ ]:
n=int(input('Entre the number which u need to find the multiplication:'))

for i in range (1,16):
 multi=i*n
 print(multi)
print('The above is the multiplication table forthe number:',n)

In [6]:

for i in range (0,10):
 i=i+1
 print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
square = lambda x: x**2
print(square(5))  # Output: 25

25

In [8]:
numbers = [1, 2, 3, 4, 5]
doubled = list(map(lambda x: x * 2, numbers))
print(doubled)  # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [9]:
nums = [10, 15, 20, 25, 30]
evens = list(filter(lambda x: x % 2 == 0, nums))
print(evens)  # Output: [10, 20, 30]

[10, 20, 30]

In [10]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [11]:
student = {'name': 'Nandhu', 'age': 21, 'course': 'MCA'}

for key, value in student.items():
    print(f"{key}: {value}")

name: Nandhu
age: 21
course: MCA

In [12]:
numbers = [5, 10, 15, 20]
total = 0

for num in numbers:
    total += num

print("Sum:", total)  # Output: Sum: 50

Sum: 50

In [13]:
class Student:
    def __init__(self, name, roll_no, course):
        self.name = name
        self.roll_no = roll_no
        self.course = course

student1 = Student("Nandhu", "MCA101", "MCA")
print(student1.name)
print(student1.roll_no)
print(student1.course)

Nandhu
MCA101
MCA

In [14]:
import math

class Circle:
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return math.pi * self.radius ** 2

c = Circle(5)
print("Area of circle:", c.area())

Area of circle: 78.53981633974483

In [15]:
class Person:
    def __init__(self, name):
        self.name = name

    def show(self):
        print("Name:", self.name)

class Student(Person):
    def __init__(self, name, course):
        super().__init__(name)
        self.course = course

    def show_details(self):
        self.show()
        print("Course:", self.course)

s = Student("Nandhu", "MCA")
s.show_details()

Name: Nandhu
Course: MCA

In [16]:
class Counter:
    def count_to(self, n):
        for i in range(1, n + 1):
            print(i, end=' ')

c = Counter()
c.count_to(5)  # Output: 1 2 3 4 5

1 2 3 4 5